:root {
  --first-accent-color: #2196f3;
  --second-accend-color: #ffffff;
  --first-colot-text: #757575;
  --second-color-text: #212121;
  --first-background-color: #2f303a;
  --second-background-color: #f5f5f5;
  --logo-color: #000000;
  --address-link-color: rgba(255, 255, 255, 0.6);
  --button-avtive-color: #188ce8;
}

.social-link {
  position: relative;
  display: block;
  height: 44px;
  width: 44px;
  text-align: center;
  border-radius: 50%;
  transition: background-color 0.2s;

  background-color: var(--second-accend-color);
}
.social-link:hover, .social-link:focus {
  background-color: var(--first-accent-color);
  outline: transparent
}
.social-link:hover .icon-parts, .social-link:focus .icon-parts  {
  fill: var(--second-accend-color);
  outline: transparent
}
.icon-parts {
  fill: #afb1b8;
}
.svg {
  max-width: 100%;
  height: auto;
}
.clients-link {
  text-align: center;
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 0.2s;
}
.clients-link:hover .client-logo, .clients-link:focus .client-logo {
  fill: var(--first-accent-color);
  transition: fill 0.2s;
  outline: transparent
}
.clients-link:hover, .clients-link:focus {
  border-color: var(--first-accent-color);
  outline: transparent
}
.client-logo {
  fill: #afb1b8;
}
.footer-social-link {
  background: rgba(255, 255, 255, 0.1);
}
.footer-icon-parts {
  fill: var(--second-accend-color);
}
