:root {
  --first-accent-color: #2196f3;
  --second-accend-color: #ffffff;
  --first-colot-text: #757575;
  --second-color-text: #212121;
  --first-background-color: #2f303a;
  --second-background-color: #f5f5f5;
  --logo-color: #000000;
  --address-link-color: rgba(255, 255, 255, 0.6);
  --button-avtive-color: #188ce8;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "sans-serif";
  color: var(--first-colot-text);
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.conteiner {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ------------------------------------header */
.header-logo {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
  letter-spacing: 0.03em;
}
.header-logo-web {
  color: var(--first-accent-color);
}
.header-link,
.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  /* line-height: 1.14; */
  letter-spacing: 0.02em;
  color: var(--second-color-text);
}
.header-mail {
  color: var(--firs-colot-text);
}
.header-tel {
  color: var(--firs-colot-text);
}
.header-link:hover,
.header-link:focus {
  color: var(--first-accent-color);
  outline: transparent;
  transition: all, 0.2s;
}
.header-mail:hover,
.header-mail:focus {
  color: var(--first-accent-color);
  outline: transparent;
  transition: all, 0.2s;
}
.header-tel:hover,
.header-tel:focus {
  color: var(--first-accent-color);
  outline: transparent;
  transition: all, 0.2s;
}
.navigation {
  color: var(--first-accent-color);
}

.header-content,
.header-logo {
  line-height: 80px;
}
.header-logo {
  padding-right: 93px;
}
.header-menu li {
  padding-inline-end: 50px;
}
.header-contacts li + li {
  padding-inline-start: 30px;
}
.header li {
  display: inline-block;
}
.header-navigation {
  display: flex;
}
.header-inner {
  display: flex;
  justify-content: space-between;
}
.header-tel:before {
  content: "\e901";
  font-family: "icomoon";
  padding: 5px;
}
.header-mail:before {
  content: "\e900";
  font-family: "icomoon";
  padding: 5px;
}
/* ---------------------------------------------------main */
/* ---------------------------------hiro */
.hiro {
  background: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hiro-fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  max-width: 1600;
  display: flex;
  position: relative;
  text-align: center;
}
.hiro-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.63;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-accend-color);
  text-align: center;
  width: 696px;
  padding-top: 150px;
}
.hiro-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--first-accent-color);
  color: var(--second-accend-color);
  cursor: pointer;
  width: 216px;
  height: 50px;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hiro-button:hover,
.hiro-button:focus {
  color: var(--second-accend-color);
  background: var(--button-avtive-color);
  outline: transparent;
  transition: all, 0.2s;
}
/* ---------------------------------benefits */

/* ================================--visually-hidden */
.benefits-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ================================--visually-hidden */

.benefits-svg-zone {
  background: #f5f4fa;
  border-radius: 4px;
}
/* .benefits-list:hover .benefits-svg {
  fill:tomato;
  cursor: pointer;
} */
.benefits-svg {
  height: 120px;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color-text);
}
.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.conteiner-benefits {
  max-width: 1170px;
  margin: 0 auto;
  padding: auto;
}
.benefits-svg-space {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  position: relative;
  display: block;
  text-align: center;
}
.benefits-item {
  display: inline-table;
  padding-right: 14px;
  padding-top: 94px;
}

.benefits-content {
  width: 270px;
  height: 120px;
}
.benefits-list {
  display: inline-block;
}

/* ---------------------------------worktypes/team */
.team {
  background-color: var(--second-background-color);
  text-align: center;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
  text-align: center;
  padding: 94px 0px 0px 0px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
}
.team-specialization {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-colot-text);
}
.team-item {
  padding-right: 14px;
  display: inline-block;
  padding-top: 20px;
}
.team-item-conteiner {
  width: 270px;
  height: 428px;
  background-color: var(--second-accend-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item li {
  display: inline-block;
  padding: 0px 5px 30px 0px;
  transition: all 0.2s;
}

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-item li {
display: inline-block;
padding: 0px 5px 30px 0px;
transition: all 0.2s;
}
}
.worktypes-item {
  padding-right: 9px;
  padding-top: 20px;
}
.last {
  padding-right: 0px;
  padding-top: 0px;
}
/*----------------------------------clients*/
.clients-item {
  display: inline-block;
  padding-right: 18px;
  padding-top: 20px;
  padding-bottom: 94px;
}
.last {
  padding-right: 0px;
}
/* ---------------------------------footer */
.footer {
  background: var(--first-background-color);
  min-height: 252px;
}
.footer-logo {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;<div class="portfolio-content"></div>
  font-size: 26px;
  line-height: 1.19;
  color: var(--second-accend-color);
  letter-spacing: 0.03em;
}
.footer-logo-web {
  color: var(--first-accent-color);
}
.footer-address,
.footer-address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-accend-color);
}

.footer-address-link {
  font-style: normal;
  color: var(--address-link-color);
}
.footer-address-link:hover,
.footer-address-link:focus,
.footer-address:hover,
.footer-address:focus {
  color: var(--first-accent-color);
  outline: transparent;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-accend-color);
}
.footer-social-item {
  display: inline-block;
  padding: 10px 5px 0px 0px;
}
.footer-content {
  display: inline-table;
}
.footer-logo {
  padding: 60px 165px 20px 0px;
}
.footer-address-item {
  padding-bottom: 9px;
}
/* ************************************ PORTFOLIO */

/* ================================--visually-hidden */
.content-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ================================--visually-hidden */

.content-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
  background: var(--second-background-color);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  border: none;
  min-width: 73px;
  height: 38px;
  padding-inline: 22px;
}
.button-item {
  display: inline-block;
  padding-top: 94px;
  padding-bottom: 50px;
}
.button-list {
  text-align: center;
}
.content-button:hover,
.content-button:focus {
  background: var(--first-accent-color);
  color: var(--second-accend-color);
  outline: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: all 0.2s;
}
.content-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color-text);
  padding-inline: 24px;
}
.content-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.03em;
  color: var(--first-colot-text);
  padding-inline: 24px;
}
.content-list {
  position: center;
  display: inline-table;
  justify-content: space-between;
}
.content-inner {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.content-item {
  display: inline-block;
  padding: 0px 8px 20px 8px;
}
.content{
  padding-bottom: 74px;
}